@charset "UTF-8";
/** шрифт*/
@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
/**/
* {
  box-sizing: border-box; }

li {
  display: block;
  list-style-type: none; }

h1 {
  max-width: 1140px;
  margin: auto;
  border-bottom: 1px dashed #e5e5e5;
  border-radius: 0 0 50% 50%;
  padding-bottom: 0px;
  text-align: center;
  font-family: 'Pattaya', sans-serif;
  color: #666666;
  font-size: 3.75rem;
  font-weight: normal; }

.row {
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  max-width: 556px; }

@media screen and (min-width: 1139px) {
  /* CSS-стили */
  .row {
    max-width: 1140px; } }

.col {
  margin-top: 25px;
  border: 2px solid #efefef;
  border-radius: 5px;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.col_smal {
  width: 266px;
  padding: 0 25px 40px 25px;
  position: relative; }
  .col_smal .title {
    font-size: 1.3125rem; }
  .col_smal .data {
    display: block;
    position: absolute;
    bottom: 22px; }

.col_big {
  width: 556px; }

.img {
  width: 266px;
  height: 320px;
  float: left;
  margin-right: 24px; }

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #00ada5;
  font-size: 1.5rem;
  text-decoration: none; }

.title:hover {
  text-decoration: underline; }

.data {
  font-size: 0.625rem; }

.item {
  font-size: 1rem;
  line-height: 1.5rem; }
