mixin header()
    header.slider
        div.pictures
        div.slider-Buttons
            div.slider-Button.slider-Button_left
            div.slider-Button.slider-Button_right
            div.slidernavigation
            div.slider-Button.slider-Button_down